.details {
    background-color: white;
    color: white;
}
.accomodations, .wedding-party, .menu, .other {
    background-color: var(--global--color-dark-blue);
    padding: 3vw 0 0 0;
}
.banner.details, .banner.details .title {
    background-color: var(--global--color-dblue);
}
.accomodations #misc{
    width: var(--responsive--aligndefault-width);
    margin: auto;
    text-align: center;
    padding-top: 1vw;
}
.hotels, .information {
    width: var(--responsive--aligndefault-width);
    margin: auto;
    padding: 1vw 0; 
}

.hotels {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.hotels .blurb-container {
    width: 30vw;
    padding: 1vw;
    min-width: 34%;
}
.hotels .blurb-container a {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 3px;
}
.hotels .blurb-container a:hover {
    text-decoration: none;
    color: #b6b6b6;
}

.people {
    width: calc(1.15 * var(--responsive--aligndefault-width));
    margin: auto;
    display: flex;
    padding: 2vw 0;
}
.girls, .guys {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.small-img {
    height: 16vw;
    width: 12.5vw;
    object-fit: cover;
}
.map-img {
    height: 20vw;
    width: 30vw;
}
.person-img {
    display: flex;
    align-items: center;
    padding: 1vw;
}
.person-img img {
    padding-right: 1vw;
}


.food {
    background-color: var(--global--color-green);
    width: var(--responsive--aligndefault-width);
    margin: auto;
    padding: 4vw 0;
}
.menu {
    padding-bottom: 3vw;
}
.food .title {
    text-align: left;
    padding-left: 1vw;
}

.menus {
    display: flex;
}
#food {
    width: 45%;
}



/* Waves Animation */
#waves {
    background-color: white;
}
.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}
.det {
    background-color: var(--global--color-dark-blue);
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)  infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
}


/* random adjustment */
@media only screen and (max-width: 1100px) {
    .people {
        width: calc( .95 * var(--responsive--aligndefault-width));

    }
}

/*
* Tablet View (below 900px)
*	==============================================
*/
@media only screen and (max-width: 900px) {
    .hotels {
        flex-direction: column;
    }
    .hotels .blurb-container {
        width: unset;
        padding: 2vw 0;
        text-align: center;
    }
    .hotels, #misc {
        width: calc( .85 * var(--responsive--aligndefault-width));
    }
    .people, .information {
        flex-direction: column;
        width: calc( 1 * var(--responsive--aligndefault-width));

    }
    .girls, .guys {
        width: unset;
    }
    .small-img {
        height: 25vw;
        width: 19.5vw;
    }
    .menus {
        flex-direction: column;
    }
    #food {
        width: unset;
        padding-bottom: 5vw;
    }
    .map-img {
        height: 40vw;
        width: 50vw;
    }

}

/*
* Mobile View (below 600px)
*	==============================================
*/
@media only screen and (max-width: 600px) {
    .hotels, #misc, .people {
        width: calc( 1.25 * var(--responsive--aligndefault-width));
    }
    .information {
        width: calc( 1.15 * var(--responsive--aligndefault-width));

    }
    .small-img {
        height: 54vw;
        width: 30vw;
    }
    .food {
        width: unset;
    }
    .food .title {
        padding-left: 7vw;
    }
    .map-img {
        height: 55vw;
        width: 80vw;
    }

}