.u:hover {
     text-decoration: underline;
}
/*
* Meet-section Styling
*	==============================================
*/
.top {
    background: white;
    padding: 2vw;
    color: var(--global--color-blue);
}
.top > h1 {
    text-align: center;
    padding: 2vw 0;
    font-weight: bold;
}
.meet {
    width: var(--responsive--aligndefault-width);
    margin: auto;
    display: flex;
}
.mid-img img {
    width: 20vw;
}
.mid-img h6 {
    text-align: center;
}
.mid-img a {
    color: var(--global--color-blue);
}

.left-side, .right-side {
    padding: 5vw;
}
.left-side h3, .right-side h3 {
    font-weight: bold;
}
.left-side *, .right-side * {
    padding-top: 1vw;
}



/*
* RSVP Styling
*	==============================================
*/
.rsvp {
    background-color: var(--global--color-green);
}
#button {
    width: var(--responsive--aligndefault-width);
    margin: auto;
    padding: 5vw;
    display: flex;
    justify-content: center;
}



/*
* Ceremony & Reception Styling
*	==============================================
*/
.banner {
    background-color: var(--global--color-green);
}
.title {
    text-align: center;
    background-color: var(--global--color-dark-green);
    color: white;
    padding: 2vw 0;
    font-style: italic;
}
.schedule {
    background-color: var(--global--color-green);
    color: white;
}
.sched-info {
    width: calc( .9 * var(--responsive--aligndefault-width));
    margin: auto;
    padding: 3vw 0;
    line-height: 1.5;
}

.locations {
    background-color: var(--global--color-green);
    color: white;
}
.flex-styling {
    width: var(--responsive--aligndefault-width);
    margin: auto;
    padding: 2vw 0;
}
.loc {
    display: flex;
    justify-content: space-around;
}
.loc * {
    padding: 2vw;
    border: none; /*for iframe*/
}
.loc div {
    width: 50%;
}
.right {
    flex-direction: row-reverse;
}




/*
* Tablet View (below 900px)
*	==============================================
*/
@media only screen and (max-width: 900px) {

	.meet {
		width: calc( .865 * var(--responsive--aligndefault-width));
		margin: auto;
    } 
    .left-side, .right-side {
        padding: 1.5vw;
    }
    #button {
        padding: 7vw;
    }

}

/*
* Mobile View (below 600px)
*	==============================================
*/
@media only screen and (max-width: 600px) {
	
	.meet {
		width: calc( .9 * var(--responsive--aligndefault-width));
		margin: auto;
        flex-direction: column;
	}
    .mid-img {
        display: flex; 
        flex-direction: column;
        align-items: center;
    }

    #button {
        padding: 10vw;
    }


}




