.blurb-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
@media only screen and (max-width: 900px) {
    .blurb-container {
        padding: 1vw 0;
    }

}
