:root {
    --primary: #fff;
}

.btn {
    padding: 1vw 3vw;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.btn--primary {
    background-color: var(--primary);
    color: var(--global--color-blue);
    border: 1px solid var(--primary);
}

.btn--outline {
    background-color: transparent;
    color: #fff;
    padding: .75vw 2vw;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn--medium {
    padding: .75vw 2vw;
    font-size: 1vw;
}

.btn--large {
    padding: 1.5vw 3.5vw;
    font-size: .9rem;
}

.btn--medium:hover, .btn--large:hover{
    background: var(--global--color-dark-green);
    color: #ffffff;
    transition: all 0.3s ease-out;
    border: 1px solid #ffffff;
}
