@font-face {
	font-family: roboto;
	src: url('./fonts/roboto/Roboto-Regular.ttf');
	font-weight: normal;
}
@font-face {
	font-family: roboto-thin;
	src: url('./fonts/roboto/Roboto-Thin.ttf');
	font-weight: normal;
}
@font-face {
	font-family: roboto-thinital;
	src: url('./fonts/roboto/Roboto-ThinItalic.ttf');
	font-weight: normal;
}


/* change all font families here */
.top > h1, .title > h1, .left-side > h3, .right-side > h3, h4 {
  font-family: roboto-thinital, sans-serif;
  font-weight: normal;
}
#button  {
  font-family: roboto, sans-serif;
}


/* bring in basic styling */
/* Variables */
:root {
	/* Font Size */
	--global--font-size-xxs: .5vw;
	--global--font-size-xs: 1vw;
	--global--font-size-s: 1.5vw;
	--global--font-size-m: 2vw;
	--global--font-size-lg: 2.25vw;
	--global--letter-spacing: normal;
	--global-nav-links: 1.25vw;

    
	/* Colors */
  --global--color-green: #708D73;
  --global--color-blue: #092457;
  --global--color-dark-green: #4D644F;
  --global--color-dblue: #32436F;
  --global--color-dark-blue: rgba(9, 36, 87, .75);
  

}

/* 
* all font sizes. h6 excluded 
*	==============================================
*/ 
h1 {font-size: var(--global--font-size-lg);}
h2 {font-size: var(--global--font-size-m);}
h3 {font-size: var(--global--font-size-s);}
h4, p, .btn, a {font-size: var(--global--font-size-xs);}
h5, h6, h6 a {font-size: var(--global--font-size-xxs);}


/* tablet and mobile font-sizing */
@media only screen and (max-width: 900px) {
	:root {
		/* Font Sizes */
		--global--font-size-xxs: 1.5vw;
		--global--font-size-xs: 2vw;
		--global--font-size-s: 2.5vw;
		--global--font-size-m: 3vw;
		--global--font-size-lg: 3.25vw;
		--global-nav-links: 2.25vw;
	}
}
@media only screen and (max-width: 600px) {
	:root {
		/* Font Sizes */
		--global--font-size-xxs: 2.5vw;
		--global--font-size-xs: 3vw;
		--global--font-size-s: 3.5vw;
		--global--font-size-m: 4vw;
		--global--font-size-lg: 4.25vw;
		--global-nav-links: 4.25vw;
	}
}

/**
 * Responsive Styles | Root Media Query Variables
 *  ====================================================
*/
 :root {
	--global--spacing-horizontal: 25px;

	--responsive--spacing-horizontal: calc(2 * var(--global--spacing-horizontal) * 0.6);
	--responsive--aligndefault-width: calc(100vw - var(--responsive--spacing-horizontal));
	--responsive--alignwide-width: calc(100vw - var(--responsive--spacing-horizontal));
	--responsive--alignfull-width: 100%;
}

@media only screen and (min-width: 200px) {

	:root {
		--responsive--aligndefault-width: min(calc(100vw - 4 * var(--global--spacing-horizontal)), 699px); 
		--responsive--alignwide-width: calc(100vw - 4 * var(--global--spacing-horizontal));
	}
}
@media only screen and (min-width: 700px) {

	:root {
		--responsive--aligndefault-width: min(calc(115vw - 8 * var(--global--spacing-horizontal)), 899px); 
		--responsive--alignwide-width: min(calc(115vw - 8 * var(--global--spacing-horizontal)), 899px); 
	}
}
@media only screen and (min-width: 1200px) {

	:root {
		--responsive--aligndefault-width: min(calc(87vw - 10 * var(--global--spacing-horizontal)), 2250px); 
		--responsive--alignwide-width: min(calc(87vw - 10 * var(--global--spacing-horizontal)), 2250px); 
	}
}


a {
  text-decoration: none;
  color: white;
}
a:focus {
  text-decoration: none;
}
a:hover {
  text-decoration: none;

}



/*
* React Styling
*	==============================================
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'roboto-thin', sans-serif;
  line-height: 1.5;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
